<head>
    <link rel="stylesheet" type="text/css" href="~/Content/MyStyle.css">
</head>

@model FirstWebApplication.Data.Models.Contact
@{
    ViewBag.Title = "Edit";
}

<h2>Edit contact</h2>

<form action="/Contact/EditContact" method="post">
    <input type="text" name="Id" value="@Html.DisplayFor(model => model.Id)" required readonly hidden><br>
    Name:<br>
    <input type="text" name="Name" value="@Html.DisplayFor(model => model.Name)" required><br>
    Email:<br>
    <input type="email" name="Email" value="@Html.DisplayFor(model => model.Email)" required><br>
    Phone number:<br />
    <input id="demo-info-message"
           type="text"
           pattern="[+]?\d{11}|\d{9}"
           name="Phone"
           value="@Html.DisplayFor(model => model.Phone)"
           >
    <br><br>
    <input type="submit" value="Submit">
</form>

<div>
    @Html.ActionLink("Back to the List", "Index")
</div>