@model IEnumerable<FirstWebApplication.Data.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>MVC</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="ContactsId" class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>
                <form method="post" action="/contact/details/@item.Id">
                    <input hidden="hidden" name="id" value="@item.Id" />
                    <input type="submit" value="Details" />
                </form>
                <form method="post" action="/contact/edit/@item.Id">
                    <input hidden="hidden" name="id" value="@item.Id" />
                    <input type="submit" value="Update" />
                </form>

                <form method="post" action="/contact/delete">
                    <input hidden="hidden" name="id" value="@item.Id" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
</table>

<div>
    <div>
        <h4>All Contacts by jQuerry</h4>
        <ul id="contacts" />
    </div>
</div>

<div ng-app="contactApp">
    <h4>All Contacts by AngularJs 1.6.4</h4>
    <table class="table" ng-controller="contactController as vm">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Options</th>
        </tr>
        <tr ng-repeat="item in vm.contacts">
            <td>{{item.Name}}</td>
            <td>{{item.Email}}</td>
            <td>{{item.Phone}}</td>
            <td>
                <button ng-click="updateFunc(item)">Update</button>
                <button ng-click="deleteFunc(item)">Delete</button>
            </td>
        </tr>
    </table>
    <button>Create</button>
    <form action="/api/ContactApi" method="post">
        Name:<br>
        <input type="text" name="Name" required><br>
        Email:<br>
        <input type="email" name="Email" required><br>
        Phone number:<br />
        <input id="demo-info-message"
               type="text"
               pattern="[+]?\d{11}|\d{9}"
               name="Phone">
        <br>
        <input type="submit" ng-click="createFunc(item)" value="Create">
    </form>
</div>
